<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %> 
</head>
<body class="container">
    <header>
        <% include ../partials/header.ejs %> 
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is the Square page!</h1>
            <h2>Created by: William Chludzinski</h2>
            <p>Input is <%= inpNumber %></p>
            <p> Square is: <%= resultNumber %> </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %> 
    </footer>
</body>